#wrapper-footer {
  background-color: #AAC3DB;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  .footer-address {
    margin-bottom: 2rem;
  }
  .site-footer-row p {
    text-align: center;
    color: $white;
  }
  .copyright {
    font-size: 10px;
    margin-bottom: 0px;
  }
}
