#wrapper-navbar {
  nav {
    transition: 0.7s all;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    padding: 0 3rem;
    .logo {
      width: 50px;
      height: auto;
    }
    .nav {
      margin: auto;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      -ms-justify-content: flex-end;
      display: flex;
      width: 100%;
      li {
        margin: 0px 14px;
        a {
          border-bottom: solid #fff 2px;
          transition: .3s;
          &:hover {
            border-bottom: solid #afccce 2px;
          }
          &.active {
            border-bottom: solid #afccce 2px;
          }
        }
        .dropdown-item {
          border-top: solid #fff 2px;
          &:hover {
            border-top: solid #afccce 2px;
            background-color: #fff;
          }
        }
        &.active a {
          border-bottom: solid #afccce 2px;
          padding-bottom: 4px;
        }
      }
      .nav-link {
        color: #000;
        border-bottom: 2px solid transparent;
        padding: .1em 1em;
      }
    }
  }
}

.comp-row {
  background-color: #F8F8F8;
  padding-top: .7rem;
  padding-bottom: .7rem;
  p {
    font-size: 14px;
  }
  .comp-left p {
    text-align: right;
    margin-bottom: 0px;
    padding-top: 4px;
  }
  .comp-right {
    br {
      display: none;
    }
    p {
      margin-bottom: 0px;
    }
  }
  .wpcf7-form {
    .wpcf7-submit {
      background-color: #fff;
      color: #afccce;
      border: 1px solid #afccce;
      height: 26px;
      &:hover {
        background-color: #afccce;
        color: #fff;
      }
    }
    .wpcf7-email {
        border: 1px solid #afccce;
    }
  }
}

body.header-fixed {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.92);
    -ms-flex-direction: row;
    flex-direction: row;
    height: 50px;
    .navbar-nav {
      margin: 0px;
      margin-left: auto;
      font-size: 14px;
    }
    li {
        margin: 0px 15px;
    }
  }
  .homeCarousel {
    margin-top: 70px;
  }
  #wrapper-navbar nav {
    padding: 0 1rem;
    .logo {
      width: 40px;
    }
    .navbar-nav li {
      margin: 0px 15px;
    }
  }
}

.navbar .dropdown-menu li {
    width: 100%;
    margin-left: 0 !important;
}
